@import '../../../assets/vars.scss';
:host {
    header {
      position: relative;
      @include size(100%,100vh);
      background-image: url("/assets/images/calculator-385506.webp");
      background-position: center;
      background-size: cover;
      z-index: 0;

      h1{
        text-transform: uppercase;
      }
    }



    .image-text,
    .text-image{
      margin:50px 0;



      >div > img{
      width:100%;
      height:100%;
      }
    }

    .text{
      @include flex(column,center,center);
      > span{
        font-size: 4rem;
      }
    }

  }
