<section class="py-5 mt-5" id="kontakt">
  <header>
    <div class="hero-shadow"></div>
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-light text-center">
      <h2 class="display-1 text-center mb-5 text-light" translate="contact.title"></h2>
    </div>
  </header>
  <div class="container">
    <div class="row mt-5 pt-5">
      <div class="col-6 d-flex justify-content-center">
        <img src="./assets/images/qrcode_telefon.png">
      </div>
      <div class="col-6">
        <p>
          <fa-icon [icon]="faMapMarkerAlt" class="text-danger mx-4"></fa-icon> ul. Nabycińska 19 / 309 53-677 Wrocław
        </p>
        <p>
          <fa-icon [icon]="faPhone" class="text-danger mx-4"></fa-icon>tel. 71 781 83 16
        </p>
        <p>
          <fa-icon [icon]="faFax" class="text-danger mx-4"></fa-icon>fax 71 735 18 00
        </p>
        <p>
          <fa-icon [icon]="faAt" class="text-danger mx-4"></fa-icon>e-mail: biuro@biurodell.pl
        </p>
      </div>
    </div>
    <div class="row m-5 p-5 parking">
      <div class="col-12 text-center text-danger  parking">
        <p class="display-3" translate="contact.parking.info"></p>
      </div>
    </div>
  </div>


</section>
