@import '../../../assets/vars.scss';

:host{
  section{
    position: relative;
    background-position: center;
    background-size: cover;
    padding:150px 50px;
    min-height: 100vh;
    background-image: url(/assets/images/office-work-3293203_1920.jpg);
    z-index: 0;

    p-accordion{
      &::ng-deep .p-component{
        .p-accordion-header{
          > a:hover{
            background-color: #FF4050;
          }

          a, .p-highlight a{
            background-color: #dc3545;

            >span{
              font-size: 1.8rem;
              color:white;
            }
          }

        }

        li{
          font-size: 1.6rem;
        }
      }
    }
  }
}
