<section>
  <div class="hero-shadow"></div>
  <h1 class="display-1 text-center mb-5 text-light" translate="services.main.title"></h1>
  <hr class="text-light">
  <div class="row">
    <div class="col-md-6 col-sm-12 p-5">
      <h2 class="display-4 text-center mb-5 text-light" translate="service.bookkeeping.title"></h2>

      <p-accordion>
          <p-accordionTab [header]="'service.bookkeeping.content1.header' | translate">
             <ul>
              <li translate="service.bookkeeping.content1.body1"></li>
              <li translate="service.bookkeeping.content1.body2"></li>
              <li translate="service.bookkeeping.content1.body3"></li>
              <li translate="service.bookkeeping.content1.body4"></li>
              <li translate="service.bookkeeping.content1.body5"></li>
              <li translate="service.bookkeeping.content1.body6"></li>
              <li translate="service.bookkeeping.content1.body7"></li>
              <li translate="service.bookkeeping.content1.body8"></li>
             </ul>
          </p-accordionTab>

          <p-accordionTab [header]="'service.bookkeeping.content2.header' | translate">
              <ul>
                <li translate="service.bookkeeping.content2.body1"></li>
                <li translate="service.bookkeeping.content2.body2"></li>
                <li translate="service.bookkeeping.content2.body3"></li>
                <li translate="service.bookkeeping.content2.body4"></li>
                <li translate="service.bookkeeping.content2.body5"></li>
              </ul>
          </p-accordionTab>

          <p-accordionTab [header]="'service.bookkeeping.content3.header' | translate">
              <ul>
                <li translate="service.bookkeeping.content3.body1"></li>
                <li translate="service.bookkeeping.content3.body2"></li>
                <li translate="service.bookkeeping.content3.body3"></li>

              </ul>
          </p-accordionTab>
      </p-accordion>
    </div>
    <div class="col-md-6 col-sm-12 p-5">
      <h2 class="display-4 text-center mb-5 text-light" translate="service.wages.title"></h2>
      <p-accordion>
          <p-accordionTab [header]="'service.wages.content1.header' | translate">
            <ul>
              <li translate="service.wages.content1.body1"></li>
              <li translate="service.wages.content1.body2"></li>
              <li translate="service.wages.content1.body3"></li>
              <li translate="service.wages.content1.body4"></li>
              <li translate="service.wages.content1.body5"></li>
              <li translate="service.wages.content1.body6"></li>
              <li translate="service.wages.content1.body7"></li>
              <li translate="service.wages.content1.body8"></li>
              <li translate="service.wages.content1.body9"></li>
              <li translate="service.wages.content1.body10"></li>
            </ul>
          </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</section>
