<section class="bg-light  ofirmie" id="Ofirmie">

  <div class="container">
    <h2 class="display-1 text-center text-danger mb-5">O nas</h2>
    <p class="text-center" [innerHTML]="'aboutus.text1' | translate"></p>
    <div class="row way  row-cols-1 row-cols-md-2 g-4 px-5 py-5">
      <div class="col">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header  px-5">1</div>
          <div class="card-body">
            <h2 class="card-title text-center " translate="aboutus.card1"></h2>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header  px-5">2</div>
          <div class="card-body">
            <h2 class="card-title text-center " translate="aboutus.card2"></h2>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-litght mb-3">
          <div class="card-header  px-5">3</div>
          <div class="card-body">
            <h2 class="card-title text-center" translate="aboutus.card3"></h2>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header  px-5">4</div>
          <div class="card-body">
            <h2 class="card-title text-center " translate="aboutus.card4"></h2>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header  px-5">5</div>
          <div class="card-body">
            <h2 class="card-title text-center " translate="aboutus.card5"></h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header  px-5">6</div>
          <div class="card-body">
            <h2 class="card-title text-center " translate="aboutus.card6"></h2>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header  px-5">7</div>
          <div class="card-body">
            <h2 class="card-title text-center " translate="aboutus.card7"></h2>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header  px-5">8</div>
          <div class="card-body">
            <h2 class="card-title text-center " translate="aboutus.card8"></h2>

          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header  px-5">9</div>
          <div class="card-body">
            <h2 class="card-title text-center " translate="aboutus.card9"></h2>
          </div>
        </div>
      </div>
    </div>


  </div>

</section>
